<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833989760553-cvc2l7f76076163s6g0ic18e5l0dpdls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833989760553-cvc2l7f76076163s6g0ic18e5l0dpdls</string>
	<key>API_KEY</key>
	<string>AIzaSyD36NceFO4Ul0p2C7WAvs_3zPDXE4Jm89M</string>
	<key>GCM_SENDER_ID</key>
	<string>833989760553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pharmaGlow</string>
	<key>PROJECT_ID</key>
	<string>pharmaglow-a2875</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmaglow-a2875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833989760553:ios:02fa4b847e2831217dae38</string>
</dict>
</plist>